.menu-bar_item{
    display: flex;
    margin: auto;
    align-items: center;
}

.menu-bar_item > ul {
    display: flex;
    gap: 1rem;
}

.menu-bar_item li, a{
    color: black;

}

.menu-bar_item li > a:hover{
    color: rgb(25, 25, 206);
    font-weight: 600;
}
